.form_button {
  border-width: 1px;
  border-color: #dedede;
  margin: 0 auto !important;
  width: 100%;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem black;
  transition: 0.5s ease-out;
  background: linear-gradient(to left, black 50%, gray 50%) left;
  background-size: 200%;
}

.form_button:hover {
  background: linear-gradient(to left, black 50%, gray 50%) right;
  background-size: 200%;
}

.form_button:hover {
  cursor: pointer;
}
