.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
  place-content: center;
}

.box {
  max-height: 25rem;
  width: 80vw;
  max-width: 25rem;
  position: relative;
  display: grid;
  grid-template-rows: 0.25fr auto;
  gap: 1rem;
  backdrop-filter: blur(0.1rem);
  padding: 1rem;
  border-radius: 1rem;
}

.loader {
  width: 100%;
  padding: 1rem;
  animation: fillBar 3s ease-in 0s infinite both;
  border-radius: 5rem;
  border: 1px solid #222831;
}

/*animation: fillBar 3s ease-in 0s infinite both;*/

@keyframes fillBar {
  from {
    background: linear-gradient(to left, rgba(0, 146, 202, 1) 50%, #222831 50%) right;
    background-size: 200%;
  }
  to {
    background: linear-gradient(to left, rgba(0, 146, 202, 1) 50%, #222831 50%) left;
    background-size: 200%;
  }
}
